.vscode/
__pycache__/
参考图/
plan.txt
dev_roadmap.md
architecture.md
eratw4.980-260320-SUNNY(PC)/
.claude/
todo.md
talent_对照表.md
.agents/
.idea/
sav/
logs/
/eratohoK/
/docs/
.pytest_cache/
build/
dist/
